.timeline {
    list-style-type: none;
    display: flex;
    //align-items: center;
    //justify-content: flex-start;
  }
  
  .status {
    padding: 0rem 1.5rem;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
  }
  .status:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
  }
  
  .complete .status {
    border-top: 2px solid #66DC71;
  }
  .complete .status:before {
    background-color: #66DC71;
    border: none;
  }
  .complete .status h4 {
    color: #66DC71;
  }
